@CHARSET "UTF-8";

.contents-link, .contents-link:hover, .contents-link:focus, .contents-link:active{
      text-decoration: none;
      color: inherit;
 }
 
 .contents-portrait{
 	position:relative ;
 	width:80%;
 }
 
 .contents-portrait .contents-desc-frame{
 	position:absolute;
 	top:0px;
 	background-color: rgba( 0, 0, 0, 0.5 );
 	height: 100%;
 	width: 100%;
 	display: none; 	
 	padding: 5%;
	text-align: left;
	color: white;
 }
 .contents-desc{
 	display:-webkit-box;
 	font-size: medium;
 	overflow:hidden;
 	text-overflow: ellipsis;
 	word-wrap:break-word;
 	line-height: 1.2em;
 	height: 9.6em;
 }
 
 .memIcon{
	
		width: 30px;
	}
 