@CHARSET "UTF-8";

.movie-detail-desc{
			margin-bottom: 10px;
	}

/* Previous button  */
.media-carousel .carousel-control.left 
{
	left: -10px;
	width : 30px;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
	right: -10px !important;
	width : 30px;
}
body, html {
	height: 100%;
}

.wrap {
min-height: 100%;
position: relative;
padding-bottom: 19px; /* footer height */
}

.bg {
	/* The image used */
	/*  background-image : url("./bg_1.jpg"); */
	background-color : #353535;
 	/* Full height */
	height: 100%;
 	/* Center and scale the image nicely */
	background-position: inherit;
	background-repeat: no-repeat;
	background-size: cover;
}

span#desc{
	display: none;
	background-color: black;
	opacity: 0.7;
	position: absolute;
	left: 10%;
	top: 0;
	width:80%;
	height:100%;
}
 .memIcon{
	
		width: 30px;
}

.contents-link, .contents-link:hover, .contents-link:focus, .contents-link:active{
      text-decoration: none;
      color: inherit;
 }
 
 .contents-portrait{
 	position:relative ;
 	width:80%;

 }
 
 .contents-portrait .contents-desc-frame{
 	position:absolute;
 	top:0px;
 	background-color: rgba( 0, 0, 0, 0.5 );
 	height: 100%;
 	width: 100%;
 	display: none; 	
 	padding: 5%;
	text-align: left;
	color: white;
 }
 .contents-desc{
 	display:-webkit-box;
 	font-size: medium;
 	overflow:hidden;
 	text-overflow: ellipsis;
 	word-wrap:break-word;
 	line-height: 1.2em;
 	height: 9.6em;
 }
 
 .memIcon{
	
		width: 30px;
	}
	
.movie-view-desc{
	font-size: medium;
	font-weight: bold;
	color: #3B3C43;
} 
  
.badge {  
  height: 20px; 
  width: 30px; 
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  border-radius: 0%; /* may require vendor prefixes */
 
}